*{
    padding: 0px;
    margin: 0px;
}

html{
  height: 100%;
}


#conteudo h3{
    display: flex;


}


#conteudo{
    display:block;
    width: 100%;
    

}

.card{
    border: 2px solid rgb(169, 155, 155); border-radius: 5px;
    margin: 10px;
    
    
}

*{

    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    
}

body{
    background-color: white; color: black;
    border-radius: 5px;
    font-family: sans-serif;
    height: 100px;
    
    /* background-color: #2F2E2E; */
    /* color: #FFFFFF; */
}

.pLogo{
    text-decoration: none;
    display: inline-block;
}


.fraseCriadores{
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

nav{

    list-style: none;
    background-color: #000000; border-radius: 3px;
    /* color: #FFFFFF; */
    height: 80px;
    width: 100%;

}
.logo{

    color: #FAD000; 
    font-size: 35px;
    line-height: 80px;
    padding: 0 50px;
    font-weight: bolder;
}

.logo:hover{

    color: white;
    cursor: pointer;
    background-color: #262323;
    text-decoration: none;

}

nav .navBar{

    float: right;
    margin-right: 20px;
}

nav .navBar li{

    display: inline-block;
    line-height: 80px;
    margin-right: 0 5px;
}

nav .navBar li a{
    
    color: #FAD000;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 5px;
    text-transform: uppercase;
}

a:hover{

    text-decoration: none;
    background-color: rgb(169, 155, 155);
    transition: .5s;
}

.d-flex{

    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}



.fraseFechamento{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 13px;
}

footer{
    border-top: 5px solid #000000;
    bottom: 0;
    left: 0;
    height: 80px;
    position: fixed;
    width: 100%;
    background-color: #000000;
    color: #FFFFFF;
    display:flex;
    justify-content: center;
    align-items: center;
 

  }
    

}

/* #2F2E2E
#FAD000 */

    
    
    