*{

    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    
}

body {
    font-family: sans-serif;
    background-color: #5a5a5a;
    min-height: 100vh;
    color: #FFFFFF;
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.pLogo {
    text-decoration: none;
    display: inline-block;
}

nav {
    list-style: none;
    background-color: #2F2E2E;
    /* color: #FFFFFF; */
    height: 80px;
    width: 100%;
}

.logo {
    color: #FAD000;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bolder;
    text-decoration: none;
}

.logo:hover {
    color: #FAD000;
    cursor: pointer;
    background-color: #2F2E2E;
    text-decoration: none;
}

nav .navBar {
    float: right;
    margin-right: 20px;
}

nav .navBar li {
    display: inline-block;
    line-height: 80px;
    margin-right: 0 5px;
}

nav .navBar li a {
    color: #FFFFFF;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    background-color: black;
    transition: .5s;
}


/* Main */

.quadrado1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 60px;
    padding: 60px;
    font-size: 1.2rem;
    text-align: justify;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    width: 50vw;
}

.card{
    background-color: transparent;
    border: none;
}
.cardBotao>button {
    background-image: linear-gradient(to right, yellow, #FAD000);
    width: 15vw;
    border-radius: 30px;
    padding: 10px;
    color: #000000;
    font-weight: bold;
    border: 0px;
    margin-top: 20px;
}

.btn button:hover {
    background-image: linear-gradient(to right, #FAD000, yellow);
}


footer span{

    width: 100%;
    display: flex;
    background-color: #000000;
    color: #FFFFFF;
    font-weight: bolder;
    bottom: 0;
    height: 50px;
    align-items: center;
    justify-content: center;
    vertical-align: middle;

}