*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body{
    background-color: #5a5a5a;
    font-family: sans-serif;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.titulo1{

    margin-top: 02%;
}
span{
   color: #FAD000; 
}
.textoDescrição{

    width: 80%;
    margin-top: 02%;
    color: white;
}
.containerCadastro{

    width: 30%;
    height: 15em;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 02%;
    border: 2px black solid;
    color: white;
}
.botaoLogin, .botaoCadastro{

    width: 25%;
    margin: 01%;
    background-color: #FAD000;
    border-radius: 10px;
}
