*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.titulo1{

    margin-top: 02%;
}
.textoDescrição{

    width: 80%;
    margin-top: 02%;
}
.containerCadastro{

    width: 30%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 02%;
    border: 2px black solid;
}
.botaoLogin, .botaoCadastro{

    width: 25%;
    margin: 01%;
}
