* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    background-color: #5a5a5a;
    color: #FFFFFF;
    position: relative;
    min-height: 100vh;
}

.pLogo {
    text-decoration: none;
    display: inline-block;
}

nav {
    list-style: none;
    background-color: #2F2E2E;
    /* color: #FFFFFF; */
    height: 80px;
    width: 100%;
}

.logo {
    color: #FAD000;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bolder;
    text-decoration: none;
}

.logo:hover {
    color: #FAD000;
    cursor: pointer;
    background-color: #2F2E2E;
    text-decoration: none;
}

nav .navBar {
    float: right;
    margin-right: 20px;
}

nav .navBar li {
    display: inline-block;
    line-height: 80px;
    margin-right: 0 5px;
}

nav .navBar li a {
    color: #FFFFFF;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    background-color: black;
    transition: .5s;
}

/* Div filmes */

main {
    width: 80vw;
    align-self: center;
    padding-bottom: 4rem;
    justify-content: center;
}

#titulo {
    font-size: 2.4rem;
}

#infoFilme {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 60px;
    padding: 60px;
    font-size: 1.2rem;
    text-align: justify;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.3);
}

img {
    width: 18vw;
    margin: 10px;
}

#voltar {
    background-color: transparent;
    border: none;
    text-align: start;
    font-size: 1.3rem;
    text-decoration: none;
    color: #ffffff;
}

/* Footer */

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4rem;
    display: flex;
    background-color: #000000;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
}